.bg-primary {
    background: orangered;
}

.bg-secondary {
    background: #adb5bd;
}

.bg-orange {
    background: orangered;
}

.text-orange {
    color: orangered !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.footer {
    background: #362222;
}

.btn-orange {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.bg-brown {
    background: #362222;
    color: #ffffff;
}
